#tweets-container article header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

#tweets-container article header div{
  display: flex;
  align-items: center;
 
}

#tweets-container article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid gray;
  margin-bottom: 5%;
  padding: 1%;
  margin: auto;
  width: 95%;
}

#tweets-container article {
  border: 4px solid gray;
  margin: auto;
  margin-bottom: 5%;
}

#tweets-container article p {
  margin: auto;
  width: 95%;
  padding: 1%
}

#tweets-container article:hover {
  box-shadow: 6px 6px #888888;
  font-weight: 550;
}

#tweets-container article header .username{
  color: rgba(84, 81, 73, 0)
 
}

#tweets-container article header img{
  margin: 10px;
 
}

#tweets-container article:hover .username{
  color: rgba(84, 81, 73, 0.5);
}

#tweets-container article:hover img{
  opacity: 1;
}

#tweets-container article img{
  opacity: 0.7;
}

.icons {
  font-size: 0.6em;
}

#tweets-container article:hover .icons{
  font-size: 0.8em;
}