.show-tweets article header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%
}

.show-tweets article header div{
  display: flex;
  align-items: center;
 
}

.show-tweets article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid gray;
  margin-bottom: 5%;
  padding: 1%;
  margin: auto;
  width: 95%;
}

.show-tweets article {
  border: 4px solid gray;
  margin: auto;
  margin-bottom: 5%;
}

.show-tweets article p {
  margin: auto;
  width: 95%;
  padding: 1%
}

.show-tweets article:hover {
  box-shadow: 6px 6px #888888;
  font-weight: bold;
}

.show-tweets article header .username{
  color: rgba(84, 81, 73, 0)
 
}

.show-tweets article:hover .username{
  color: rgba(84, 81, 73, 0.5);
}
