nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 120px;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5em;
  margin-bottom: 120px;
}


.logo {
  font-family: bungee
}

@media only screen and (max-width: 1023px) {
  nav {
    z-index: 1;
    background-color: #CC7722;
    background-image: url("../images/asfalt-dark.png");
    height: 100px
  }
}