nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 120px;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5em;
  margin-bottom: 120px;
}


.logo {
  font-family: bungee
}

.write-new{
  display: flex;
  flex-direction: column;
}

#chevron {
  padding: none;
  margin-right: 110px;
  color: red;
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: none;
}

#chevron:focus {
  outline: none;
  border: none;
}

/* for chevron animation */

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

.write-new span {
  margin-bottom: 15px
}
/* Below desktop size changes */

@media only screen and (max-width: 1023px) {
  nav {
    background-color: #CC7722;
    background-image: url("../images/asfalt-dark.png");
    height: 100px
  }
  #chevron {
    background-color: #CC7722;
  }
}