.new-tweet {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 5%;
}


#tweet-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  background: none;
  border: none;
  width: 100%;
  height: 36px;
  border-bottom: 5px solid gray
}

#tweet-text:focus {
  outline: 0;
}

button {
  font-family: bungee;
  background-color: #4056A1;
  color: white;
  border: none;
  padding: 5px 10px;
}

.tweet-btn {
  display: flex;
  justify-content: space-between;
}

.new-tweet h2 {
  text-align: center
}

.color-warning {
  color: red;
}

